.auth-heading {
  margin-bottom: 1rem;
  color: var(--dark-blue);
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.submit-button {
  background-color: white;
  color: var(--dark-blue);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--light-blue);
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
    background-color: var(--dark-blue);
    color: white;
  }

  .toggle-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .toggle-text {
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }

.toggle-mode-button {
  font-size: 1rem;
  background: none;
  border: none;
  color: var(--light-blue);
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.toggle-mode-button:hover {
  color: var(--dark-blue);
}


.auth-divider {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: var(--light-blue);
}

.header-container{
    width: 80%;
}

.error-msg {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  max-width: 100%;
  word-wrap: break-word;
}


