.requests-page {
  margin-top: 7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.requests-list {
  list-style: none;
  padding: 0;
}

.request-item {
  background-color: var(--off-white);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.request-info {
  flex: 1;
  min-width: 50%;
  box-sizing: border-box;
}

.request-item h3 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.request-item p {
  margin: 0.25rem 0;
}
.button-container{
  display: flex;
  flex-direction: column;
}

.cancel-button{
  background: var(--red);
  color: var(--off-white);
  border: 1px solid var(--red);  border-radius: 4px;
  padding: 0.5rem 3rem;
  cursor: pointer;
}

.cancel-button:hover{
  background: var(--dark-red);
  border-color: var(--dark-red);
}

.confirm-button{
  background: var(--light-blue);
  color: var(--off-white);
  border: 1px solid var(--light-blue);
  border-radius: 4px;
  padding: 0.5rem 3rem;
  cursor: pointer;
}

.confirm-button:hover{
  
  background: var(--dark-blue);
  color: var(--off-white);
}

