.toggle-container {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    border-radius: 4px;
  }
  
  .toggle-btn {
    background-color: var(--off-white);
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .toggle-btn.active {
    background-color: var(--dark-blue);
    color: var(--off-white);
  }