.user-profile {
  margin: 0 auto;
  padding: 2rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.user-info {
  width: 60%;
  background-color: var(--off-white);
  border-radius: 5px;
  padding: 20px;
}



h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;

}
h3 {
  margin-bottom: 5px;
}
.inline-field {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.inline-field h3 {
  margin-left: 0;
  flex-grow: 1;
}
.edit-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.edit-field input {
  margin-left: 1rem;
  margin-top: 25px;
  border:none;
  background-color: var(--off-white);
  font-size: 1.17em; /* Match h3 font size */
}

.edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--dark-blue);
  align-items: center;
}

.edit-button:hover {
  color: var(--yellow);
}
